body {
    background-color: lightgrey;
}

#content {
    margin: auto;
    width: 50%;
    background-color: white;
    padding: 25px;
}

h2, h3, h5 {
    text-align: center;
}

p {
    font-size: 12px;
}

th {
    border-bottom: lightgrey 1px solid;
}

td {
    padding: 5px;
    border-bottom: lightgrey 1px dashed;
    text-align: center;
    font-size: 14px;
}

#title {
    width: 75%;
}

input {
    font-size: 12px;
}

#content textarea {
    padding: 5px;
    width: 90%;
    font-size: 12px;
    resize: none;
}

#post {
    border-bottom: lightgrey 1px solid;
}

#links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: lightgrey 1px solid;
}

#comments {
    border-bottom: lightgrey 1px solid;
}

#comment {
    border: lightgrey 1px solid;
    border-radius: 10px;
    margin: 10px;
}

#comment p {
    padding: 5px;
    margin: 0;
}

#comment-author {
    background-color: lightgrey;
    border-radius: 10px 10px 0px 0px;
}

.center {
    text-align: center;
}

.small-padding {
    padding: 10px;
}

