<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>BlogApp: Add New Blog Post</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>
<body>
    <div th:id="content">
        <h3>New Blog Post:</h3>
        <form action="#" th:action="${post.id} ? @{'/edit/' + ${post.id}} : @{/new}" th:object="${post}" method="post">
            <div th:class="${#fields.hasErrors('title')}? 'error-box'">
                <label th:for="title">Title: </label><input th:id="title" type="text" th:field="*{title}"/>
                <p th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"/>
            </div>
            <div th:class="${#fields.hasErrors('content')}? 'error-box'">
                <label th:for="content">Content: </label><textarea th:id="content" rows="30" th:field="*{content}" />
                <p th:if="${#fields.hasErrors('content')}" th:errorclass="error" th:errors="*{content}"/>
            </div>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
</body>
</html>