<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'BlogApp: ' + ${{post.title}}"/>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>
<body>
    <div th:id="content">
        <section th:id="post">
            <h3 th:text="${{post.title}}"/>
            <h5 th:text="'By ' + ${{post.author}}"/>
            <p th:utext="${{post.content}}"/>
        </section>
        <section th:id="links">
            <div>
                <a th:if="${prevPost}" th:href="'/' + ${{prevPost.id}}" th:text="'<<< Prev Post: \'' + ${{prevPost.title}} + '\''"/>
            </div>
            <div>
                <a th:href="'/'" th:text="'Return Home'"/>
            </div>
            <div>
                <a th:if="${nextPost}" th:href="'/' + ${{nextPost.id}}" th:text="'Next Post: \'' + ${{nextPost.title}} + '\' >>>'"/>
            </div>
        </section>
        <section th:id="comments">
            <form th:id="comment" action="" th:action="@{'/comment/' + ${post.id}}" th:object="${comment}" method="post">
                <p th:id="comment-author" th:text="'New Comment:'">
                <div th:class="${#fields.hasErrors('content')}? 'error-box'">
                    <textarea rows="3" th:id="content" th:field="*{content}" />
                    <p th:if="${#fields.hasErrors('content')}" th:errorclass="error" th:errors="*{content}"/>
                </div>
                <p><input type="submit" value="Add Comment" /></p>
            </form>
            <div th:id="comment" th:each="comment : ${post.comments}">
                <p th:id="comment-author" th:text="${{comment.author}}"/>
                <p th:text="${{comment.content}}"/>
                <form action="#" th:if="${user.equals(comment.author)}" th:action="@{'comment/delete/' + ${comment.id}}" th:method="post">
                    <input type="submit" th:value="Delete"/>
                </form>
            </div>
        </section>
    </div>
</body>
</html>